
        
        html{
            scroll-behavior: smooth;
        }

        body{
            background-color: #ffffff;
            color: white;
            font-family: 'Poppins', sans-serif;
        }

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav{
            position: fixed;    
            top: 0;
            width: 100%;
            background-color: #000;
            padding-top: 1%;
            text-align: center;
            height: 5%;
            z-index: 1000;
        }

        nav a{
            color: white;
            font-weight: bold;
            transition: 0.3s;
            margin: 5px;
            display:inline-block;
            font-size: 1rem
        }

        nav a:hover{
            color: #00bfff;
        }

        section{
            min-height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 100px 20px 40px;
            text-align: center;
            line-height: 1.5;
        }

        #inicio{
            background: #1E3A5F;
        }

        #ferramentas{
            background: #2A4D69;
        }

        #sugestoes{
            background: #4B3F72;
        }

        #contato{
            background: #6A4C93;
        }

        h1{
            font-size: clamp(2rem, 6vw, 4rem);
            padding: 60px 20px;
            width: 100%;
            background-color: #254877;
        }

        h2{
            font-size: 50px;
        }

        h3{
            font-size: 30px;
        }

        h4{
            font-size: 20px
        }

        .teste_vocacional{
            font-size: 40px;
            border-radius: 20px;
            padding: 30px;
            margin-top: -10px;
        }

        .teste_vocacional:hover{
            backdrop-filter: brightness(150%);
            transition: 0.3s;
        }

        p{
            font-size: 15px;
        }

        .topicos{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        }

        .card{
        background-color: rgba(255,255,255,0.2);
        width: 300px;
        max-width: 90%;
        padding: 20px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        line-height: 1.0;
        transition: 0.3s;
        }

        .card:hover{
            transform: translateY(-20px);
            backdrop-filter: brightness(1.2)
        }

        .card img{
            width: 40%;
            height: 25%;
            border-radius: 15px;
        }

        @media (max-width: 768px){

        section{
        padding-top: 120px;
        }
        }